.mainMasseges{
    display: grid;

    grid-template-columns:  4fr 6fr ;
    grid-gap: 25px;


}
.dialogsItem{
padding: 10px;
}
.active{
    font-weight: bold;
}
.dialog{

}
.masseges{
padding: 10px;

}
