.mainMessages{
    display: flex;
    align-content: center;
}
.dialogsContainer{
padding: 30px;

}
.textarea{
    outline: none;

}
.dialogs{
    padding-top: 30px;
}
.shareButton{

    margin-top: 5px;
    display: block;
    font-family: inherit;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 2px;
    transition: background-color .1s linear;
    border: none;
    outline:none;
}
.shareButton:hover{
    background-color: cornflowerblue;
}
.shareButton:active{
    font-weight: bold;
}
@media (max-width: 600px) {
    .dialogsContainer{
        padding: 5px;
    }

}