
.item {
    border: 3px solid silver;
    margin: 5px 0px;


}
.item img{
    border-radius: 50px;
    width: 50px;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.avatar{
    margin-right: 10px;
    padding: 5px;
}
.shareButton{
    border: none;
    outline: none;
    padding: 2px 5px;
}
.shareButton:hover{
    background-color: mediumpurple;
}
.shareButton:active{
    font-weight: bold;
}
.shareButton {
    border-radius: 3px;
    background: transparent;
}