.content {
    background: darkgrey;
    grid-area: c;
}
.MainConteiner{
   margin: 0px 200px;


}
.newPost{
    margin: 0 auto;
}
.textarea{
    width: 250px;
    outline: none;
    resize: none;
}
.myPost{
    font-weight: 700;
    padding-bottom: 15px;
}
.shareButton{
    border: none;
    padding: 5px 10px;
}
.shareButton:hover{
    background-color: cornflowerblue;
}
.shareButton:active{
    font-weight: bold;
}