.Header{
    background: #4a6da7;
    padding: 10px;

}
.logoContainer img{
    max-height: 50px;
}
.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.nameLogo{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}
