.Nav {
    margin: 0 auto;
    background-color: #4a6da7;
    font-weight: 700;
    width: 100%;
}
.nav {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s linear color;
    margin: 10px;
}
.nav:last-child{
   padding-right: 10px;
}
.nav:first-child{
    margin-left: 10px;
}
.nav:hover{

    color: lavender;
}
.active{
    color: lavender;
    border-bottom: 3px solid black;
}
.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

}

/*fixed*/
.fixed{
    position: fixed;
    background-color: #4a6da7;
    width: 100%;

}
.burger{
    display: none;
}
@media (max-width: 991px) {
    .Nav{
        display: flex;
        justify-content: flex-end;
        text-align: center;
        position: absolute;
        z-index: 2;
        opacity: 0.9;
    }
    .burger{
        display: block;
        padding: 5px;
        margin-right: 20px;
        background: transparent;
        border: none;
        font-weight: bold;
    }
    .Container{
        flex-direction: column;
        text-align: right;
        display: none;
    }
  .Container.show {
              display: flex;
              flex-direction: column;
           text-align: right;
          }
    }

