

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px 0;




}
.background{

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3qTzmKETd44pcwGANYqogSKnY52MK4Q9C9g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    padding: 15px;
    flex-wrap: wrap;


}
.avatar{
    margin-top: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.userName{

    color: white;
    font-weight: 700;
    font-size:20px;
    text-transform: uppercase;
}
.background img {
    opacity: 1;
    filter: alpha(opacity: 70);
}
.btn{
    margin-top: 5px;
    display: block;
    font-family: inherit;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 2px;
    transition: background-color .1s linear;
    border: none;
    outline:none;
}
.bnt:hover{
    background-color: cornflowerblue;
}
@media (max-width: 600px) {
    .container{
        padding: 5px;
    }

}