.Nav{
  padding: 10px 10px;
    background-color: #4a6da7;
    font-weight: 700;

}

.nav {
    color: #000;
    text-align: center;
    padding: 14px 7px;
    font-size: 15px;
    transition: 0.3s linear color;
}
.nav:hover{
    border-bottom: 2px solid black;
    color: lavender;
}
.active{

    color: lavender;
}
.topNav{
    display: flex;
    justify-content: space-between;
}