@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    font-family: 'Josefin Sans', cursive;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background: darkgrey;
}
*,
:before,
:after{
    box-sizing: border-box;
}
.app-wrapper-content{

    min-height: 1000px;
    width: 100%;
}
