a{
    text-decoration: none;
}
a:hover{
    color: white;
}
.app-wrapper{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
            "h"
            "n"
            "c";
    grid-template-rows: 60px 60px 5fr;
}
.app-wrapper-content{
    background: darkgrey;
    grid-area: c;
    min-height: 1000px;


}
