a{
    text-decoration: none;
}
a:hover{
    color: white;
}
.app-wrapper{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 20% ;
    grid-gap: 10px;
}
.app-wrapper-content{
    background: darkgrey;
    grid-area: c;
    height: 100%;

}
