.userImg{
    width: 100px;
    border-radius: 3px;
}
.container{
    display: flex;

    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    
    align-items: center;
    text-align: center;
    border: 2px solid silver;
    padding: 10px;
}
.container img{
    margin: 5px 0px;
}
.avatarName{
    margin: 20px auto;
}
.infoUser{
    margin-left: 50px;
}
.followBtn button{
    margin: 10px 5px;
    padding: 5px 10px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color .1s linear;
    border: none;
    outline:none;
    resize: none;
}

.followBtn button:hover{
    background-color: cornflowerblue;
}